@model IEnumerable<PersonaManager.Entities.Persona>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div id="personaList">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Name) </th>
                    <th>@Html.DisplayNameFor(m => m.Arcana) </th>
                    <th>@Html.DisplayNameFor(m => m.InitialLevel) </th>
                    <th>@Html.DisplayNameFor(m => m.SkillsList) </th>
                    <th>@Html.DisplayNameFor(m => m.IsDownloadedContent)</th>
                    <th>@Html.DisplayNameFor(m => m.InheritanceType)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Name, "Details", new { id = item.Name })</td>
                        <td>@Html.DisplayFor(i => item.Arcana)</td>
                        <td>@Html.DisplayFor(i => item.InitialLevel)</td>
                        <td>@Html.DisplayFor(i => item.SkillsList)</td>
                        <td>@Html.DisplayFor(i => item.IsDownloadedContent)</td>
                        <td>@Html.DisplayFor(i => item.InheritanceType)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>