@model PersonaGuide.Entities.Persona

<div>
    <h3>@Html.DisplayFor(model => model.Name)</h3>

    <hr />

    <strong>@Html.DisplayNameFor(model => model.Arcana) : </strong>

    @Html.DisplayFor(model => model.Arcana) <br />

    <strong>@Html.DisplayNameFor(model => model.InitialLevel) : </strong>

    @Html.DisplayFor(model => model.InitialLevel) <br />

    <strong>@Html.DisplayNameFor(model => model.AddedHP) : </strong>

    @Html.DisplayFor(model => model.AddedHP) <br />

    <strong>@Html.DisplayNameFor(model => model.AddedSP) : </strong>

    @Html.DisplayFor(model => model.AddedSP) <br />

    <strong>@Html.DisplayNameFor(model => model.CardExtracted) : </strong>

    @Html.DisplayFor(model => model.CardExtracted) <br />
    
    <strong>@Html.DisplayNameFor(model => model.InheritableSkillTypes) : </strong> 

    @Html.DisplayFor(model => model.InheritableSkillTypes) <br />
    <hr />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Type</td>
                <td>Sub-Type</td>
                <td>Cost</td>
                <td>Description</td>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Skills)
            {
                <tr @(item.Skill.CanPassDown ? String.Empty : "class=danger")>
                    <td>@Html.DisplayFor(i => item.LevelLearned)</td>
                    <td>@Html.DisplayFor(i => item.Skill.Name)</td>
                    <td>@Html.DisplayFor(i => item.Skill.SkillType)</td>
                    <td>@Html.DisplayFor(i => item.Skill.Type)</td>
                    <td>@Html.DisplayFor(i => item.Skill.Cost)</td>
                    <td>@Html.DisplayFor(i => item.Skill.Description)</td>                    
                </tr>
            }
        </tbody>
    </table>
   
</div>